

body {

	font-family: 'Open Sans', sans-serif;

	font-size: 14px;

	text-align: left;



} 



/* CONTAINERS */



#wrapper {

	width:960px;

	margin: 0 auto;	

	background-color:#fff;

}



#header {

	width:960px;

	height: 120px;

	background-color: #FFFFFF;

	background-position: left center;

	/*margin-left: 140px;*/

	margin-right: 40px;

	margin-top:40px;



}



#main {

	/*margin-left:70px */;

	margin-bottom:100px;

	width:960px

	}

	



#float_container {	

    margin: 0 auto;

	margin-bottom:30px;

	}

	

#carousel_container {

	width:640px;

	max-height:375px;

	float:left;

	margin-bottom:55px;

}



#fb_container {

	text-align:right;

}



#tw_container {

	float:right;

	padding-top:25px;

}



#float_left_container {

float:left ; 

margin-bottom:75px;

}



#container_two_thirds_right {

margin-top:90px;

width:280px; 

float:right;

padding-left:140px;	

}





#half_page_div_left {

	

	width:440px;

	float:left;

	padding-right: 20px;

		

}



#half_page_div_right {

	width:440px;

	float:right;

	padding-left: 20px;	

	

}











/* NAVIGATION */





nav {

	position:relative;

	z-index:1000;

	background-repeat: no-repeat;

	background-color: #FFFFFF;

	background-position: left center;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #9B9B9B;

	border-top-width: 1px;

	border-top-style: solid;

	border-top-color: #9B9B9B;

	margin-bottom:10px;



	

}





nav a {

  color: inherit; /* blue colors for links too */

  text-decoration: inherit; /* no underline */

  }

 

nav a:hover {

	color: inherit; /* blue colors for links too */

  text-decoration: inherit; /* no underline */

}



 nav ul {

  text-align: left;

  display: inline;

  margin: 0;

  padding: 0px 40px 0px 20px;

  list-style: none;



}



nav ul li {



  display: inline-block;

  margin-right: -4px;

  position: relative;

  padding: 10px 90px 10px 10px;

  background: #fff;

  cursor: pointer;

  -webkit-transition: all 0.2s;

  -moz-transition: all 0.2s;

  -ms-transition: all 0.2s;

  -o-transition: all 0.2s;

  transition: all 0.2s;

}



nav ul li:hover {



  color: #11A8AB;

}



nav ul li ul {

  padding: 0;

  position: absolute;

  top: 41px;

  left: 0;

  width: 150px;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  display: none;

  opacity: 0;

  visibility: hidden;

  -webkit-transiton: opacity 0.2s;

  -moz-transition: opacity 0.2s;

  -ms-transition: opacity 0.2s;

  -o-transition: opacity 0.2s;

  -transition: opacity 0.2s;

}



nav ul li ul li { 

  background: #fff; 

  display: block; 

  color: #393939;



}



nav ul li ul li:hover { background: #11A8AB;

  color: #fff; }



nav ul li:hover ul {

  display: block;

  opacity: 1;

  visibility: visible;

}



#navigation_menu {
	padding-left:1px;
	
	padding-right:15px;

	float:right;
}




/*PAGE*/



#page {

	margin-top: 50px;



	

		

}





/* FORME */







form {

	max-width: 300px;

	padding: 10px 10px 20px 0px;

	background: #fff;

	display: inline-block;

	color: #393939;

	font-weight: 500;

	font-size: 14px;

}



input[type="text"],

input[type="password"],

input[type="date"],

input[type="datetime"],

input[type="email"],

input[type="number"],

input[type="search"],

input[type="tel"],

input[type="time"],

input[type="url"],

input[type="file"],

textarea,

select {

	background: #fff;

	border: 1px solid #9B9B9B;

	height: 40px;

	margin-bottom: 8px;

	outline: 0;

	padding: 9px;

	width: 300px;

	background-color: #fff;

	color: #001a21;

	font-weight: normal;

	font-size: 14px;

	margin-top: 7px;

}

input[type="submit"],

select {

	background: #fff;

	border: none;

	height: auto;

	margin-top: 12px;

	margin-bottom: 8px;

	outline: 0;

	padding: 5px;

	width: 300px;

	height: 50px;

	background-color: #11A7AB;

	color: #fff;

	font-weight: normal;

	font-size: 23px;

}



select {

	background: #fff;

	border: 1px solid #9B9B9B;

	height: auto;

	margin-top: 12px;

	margin-bottom: 8px;

	outline: 0;

	padding: 5px;

	width: 300px;

	height: 40px;

	background-color: #fff;

	color: #000;

	font-weight: normal;

	font-size: 14px;

	}

	

input.signup {

	width:60px;

}

	

/* LOGIN */



#login_form {

	width: 300px;

    margin: 0 auto;



	}

	

/* MODAL FORM */



#modal_form {

	width: 460px;

    margin: 0 auto;

	padding-left:35px

	

	}

	

	

	

/* TABLICE */



.fixed-table-container {

	border-top:none;

}

	

table a:visited {

	color:#11A8AB;

	font-weight:regular;

	text-decoration:none;

		border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;



	

}

table a:active 

table a:hover {

	color: #ffffff;

		border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;



}

table {

	font-family: 'Roboto', sans-serif;

	color: #393939;

	font-size: 14px;

	background: #ffffff;

	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

	width: 100%;

	margin-top: 0px;

	margin-right: 20px;

	margin-bottom: 20px;

	margin-left: 0px;



}



table th {

	color: #393939;

	border-bottom: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

	background: #fff;

	padding-top: 8px;

	padding-right: 25px;

	padding-bottom: 8px;

	padding-left: 25px;

	font-size: 14px;

	font-weight: 600;

	

}

table th:first-child {

	text-align: left;

	padding-left:20px;



	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;}



table tr {

	text-align: center;

	padding-left:20px;

	

	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

}

table td:first-child {

	text-align: left;

	padding-left:20px;



	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

}

table td {



	background: #ffffff;

	padding-top: 8px;

	padding-right: 18px;

	padding-bottom: 8px;

	padding-left: 18px;

	

	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

}

table tr.even td {

	background: #ffffff;

	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

}

table tr:last-child td {

	border-bottom: #9B9B9B 1px solid;

	border-top: #9B9B9B 1px solid;

	border-left: 0px;

	border-right: 0px;

}

table tr:last-child td:first-child {

	





}

table tr:last-child td:last-child {







}









/* OSTALO */ 



#exchange_map {

	width:600px;

	height:312px;

}



#tooltip_icon {

		color: #11A8AB;



}



#file_icon {

		font-size: 14px;

		color: #A9A9A9;



}







#new_doc_button {

	margin-top: 30px;

	width: 300px;

    margin: 0 auto;

	}

	





#beta_tag {



	padding-top: 20px;

	margin-right:20px;

	float:right;

	}	

	

#page_submit_bug_button {

	margin-top: 30px;

	width: 250px;

    margin: 0 auto;

	height:40px;

	}



#bodovi_box {

	width: 510pt;

	height: 120px;

	background-color: #11A8AB;

	text-align: center;

	color: #FFFFFF;

	padding-top: 30px;

	padding-bottom: 10px;

	margin-top: 110px;

	margin-bottom: 50px;

}



#moji_bodovi_tekst {font-family: 'Open Sans', sans-serif;

	font-size: 20px;

}



#bodovi_tekst  {font-family: 'Open Sans', sans-serif;

	font-size: 40px;

}



.tablice_bodovi {	width: 510pt;

	margin-top: 70px;

	

	}

	

.modal-dialog {

	

width:400px;

}





a:hover {

	color: #11ABA8; /* blue colors for links too */

  text-decoration: inherit; /* no underline */

}



.link_colorless {

	color:black;	

}



.link_colorless:visited {

	color:black;	

}



.link_colorless:hover {

	color: #11ABA8;

	text-decoration: inherit;

}





/* NEWS */ 



#news_container {

	width:640px;

	float:left;

	margin-bottom:55px;

}



#news_sidebar {

	margin-top:75px;

	width:280px;

	float:right;

	margin-bottom:15px;

}



#news_create_form {

	width:600px;

	max-width: 600px;



}



#news_sidebar_item {

	background-color:#11A8AB;

 	text-align: center;

	margin-bottom:20px;

	min-height:40px;

}

#news_sidebar_item p {

	padding-top:11px;

}



#news_sidebar_item a:link, 

#news_sidebar_item a:visited, 

#news_sidebar_item a:hover { 

 

 color: #FFF; 

 text-decoration: none; 



} 



/* APP FORM */





.cc-selector input{

    position:absolute;

    z-index:999;

}



.scope{background-image:url(http://zagreb.cromsic.hr/resources/img/scope_logo.png);}

.score{background-image:url(http://zagreb.cromsic.hr/resources/img/score_logo.png);}



.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}

.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{

    -webkit-filter: none;

       -moz-filter: none;

            filter: none;

}



.drinkcard-cc{

    cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block;

    width:160px;height:132px;

    -webkit-transition: all 100ms ease-in;

       -moz-transition: all 100ms ease-in;

            transition: all 100ms ease-in;

    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);

       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);

            filter: brightness(1.8) grayscale(1) opacity(.7);

}

.drinkcard-cc:hover{

    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);

       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);

            filter: brightness(1.2) grayscale(.5) opacity(.9);

}





#appform {

	max-width:100%;

	overflow: hidden;

}



.square_left,

.square_middle,

.square_right {

	padding: 15px;

	



}



.square_left {

	float:left;

	width:350px;

	

}







.square_right {

	float:right;

	width:350px;

	

}



.square_middle {

	margin-top:20px;

	width:100%;

	overflow: hidden;

	border-style: solid;

    border-color: #11ABA8;

	border-width:thin;

	

	

}



#app_button {

	text-align: center;

	 

}





/* OVERWRITE */



.panel-default > .panel-heading {

  color: #11a8ab;

  background-color: #fff;

  border-color: #fff;

}



.panel-default {

  border-color: #fff;

}



.panel-default > .panel-heading {

 background-image:none;

 background-repeat:no-repeat;

/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/

}



.is-countdown {

    border: none;

    background-color:transparent;

}