
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;

} 

/* CONTAINERS */

#wrapper {
	width:auto;
	margin: 0 auto;	
	background-color:#fff;
}

#header {
	width:auto;
	height: auto;
	background-color: #FFFFFF;
	background-position: center;
	/*margin-left: 140px;*/
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top:15px;

}

#main {
	/*margin-left:70px */;
	margin-bottom:100px;
	width:100%
	}
	

#float_container {	
    margin: 0;
	margin-bottom:10px;
	}

#half_page_div_left {
	
	width: auto;
	float: none;
	padding-right: 0px;
		
}

#half_page_div_right {
	width: auto;
	float: none;
	padding-left: 0px;	
	
}


/* NAVIGATION */


nav {
	width: 100%;
	position: relative;
	z-index: 1000;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	background-position: left center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9B9B9B;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9B9B9B;
	margin-bottom: 10px;
	margin-top: 10px;
	
}


nav a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  }
 
nav a:hover {
	color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

 nav ul {
  width: 100%;
  text-align: center;
  display:inline-block;
  margin: 0;
  list-style: none;
  padding-right: 0px;
  padding-left: 0px;

}

nav ul li {
  position: relative;
  width: inherit;
  background-color: #CCCCCC;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding-right: 0;
  padding-left: 0;
  display: none;
  border-top: dotted;
  border-top-width: 0.5px;
}

nav ul li:hover {

  color: #11A8AB;
}

nav ul li ul {
  padding: 0;
  position: relative;
  top: 10px;
  left: 0;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  opacity: 1;
  overflow: hidden;
  display: none;
}

nav ul li ul li { 
  background: #fff;
  color: #393939;
  display: none;
  background-color: #999;
  width: 100%;
  overflow: visible;
  padding: auto;

}

nav ul li ul li:hover {
	color: #fff;
	background: #11A8AB;
}

nav ul li:hover ul {
  opacity: 1;
  display: inline-block;
  overflow: inherit;
}

/*HAMBURGER*/


.hamburger {
	cursor: pointer;
	padding: 15px;
    display: block;
	width: 50px;
}

.line {
    border-bottom: 4px solid #999;
    width: 35px;
    margin-bottom: 6px;
}
  
.line:last-child {
    margin-bottom: 0;
}

/*HAMBURGER END*/

/*PAGE*/

#page {
	margin-top: 15px;

	
		
}


/* FORME */



form {
	max-width: 300px;
	padding: 10px 10px 20px 0px;
	background: #fff;
	display: inline-block;
	color: #393939;
	font-weight: 500;
	font-size: 14px;
	width: 100%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
textarea,
select {
	background: #fff;
	border: 1px solid #9B9B9B;
	font-size: 14px;
	height: 40px;
	margin-bottom: 8px;
	outline: 0;
	padding: 9px;
	width: 90%;
	background-color: #fff;
	color: #001a21;
	font-weight: normal;
	font-size: 14px;
	margin-top: 7px;
}
input[type="submit"],
select {
	background: #fff;
	border: none;
	height: auto;
	margin-top: 12px;
	margin-bottom: 8px;
	outline: 0;
	padding: 5px;
	width: auto;
	height: 90%;
	background-color: #11A7AB;
	color: #fff;
	font-weight: normal;
	font-size: 23px;
}

select {
	background: #fff;
	border: 1px solid #9B9B9B;
	height: auto;
	margin-top: 12px;
	margin-bottom: 8px;
	outline: 0;
	padding: 5px;
	width: 90%;
	height: 40px;
	background-color: #fff;
	color: #000;
	font-weight: normal;
	font-size: 14px;
	}
	
	
	
/* LOGIN */

#login_form {
	width: auto;
    margin: 0 auto;

	}
	
/* MODAL FORM */

#modal_form {
	width: auto;
    margin: 0 auto;
	padding-left:35px
	
	}
	
	
	
/* TABLICE */
	
table a:visited {
	color:#11A8AB;
	font-weight:regular;
	text-decoration:none;
		border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;

	
}
table a:active 
table a:hover {
	color: #ffffff;
		border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;

}
table {
	font-family: 'Roboto', sans-serif;
	color: #393939;
	font-size: 12px;
	background: #ffffff;
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 0px;

}

table th {
	color: #393939;
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
	background: #fff;
	padding-top: 8px;
	padding-right: 25px;
	padding-bottom: 8px;
	padding-left: 25px;
	font-size: 14px;
	font-weight: 600;
	width: inherit;
	
}
table th:first-child {
	text-align: left;
	padding-left:20px;

	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
	width: inherit;}

table tr {
	text-align: center;
	padding-left:20px;
	
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
	width: inherit;
}
table td:first-child {
	text-align: left;
	padding-left:20px;

	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
}
table td {

	background: #ffffff;
	padding-top: 8px;
	padding-right: 18px;
	padding-bottom: 8px;
	padding-left: 18px;
	
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
	width: inherit;
}
table tr.even td {
	background: #ffffff;
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
}
table tr:last-child td {
	border-bottom: #9B9B9B 1px solid;
	border-top: #9B9B9B 1px solid;
	border-left: 0px;
	border-right: 0px;
}
table tr:last-child td:first-child {
	


}
table tr:last-child td:last-child {



}




/* OSTALO */ 

#exchange_map {
	 resize:both;
	 width:100%; 
	 height:auto;
	 display: inline;
	 max-width:600px;
}

#tooltip_icon {
		color: #11A8AB;

}

#file_icon {
		font-size: 14px;
		color: #A9A9A9;

}



#new_doc_button {
	margin-top: 30px;
	width: auto;
    margin: 0 auto;
	}
	


#beta_tag {
	display: none;
	padding-top: 20px;
	margin-right:20px;
	float:right;
	}	
	
#page_submit_bug_button {
	margin-top: 30px;
	width: auto;
    margin: 0 auto;
	height:40px;
	}

#bodovi_box {
	width: auto;
	height: 120px;
	background-color: #11A8AB;
	text-align: center;
	color: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#moji_bodovi_tekst {font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

#bodovi_tekst  {font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}

.tablice_bodovi {	width: 100%;
	margin-top: 70px;
	float: none;
	
	}
	
.modal-dialog {
	
width: auto;
}

#carousel_container {
	width: 100%;
	display: block;
	float:none;
	margin-bottom:20px;
	max-width: 620px;
	margin-right: auto;
	margin-left: auto;
}

#myCarousel {
	width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
}

#news_container {
	width: 100%;
	float:none;
	margin-bottom:55px;
}

#news_sidebar {
	margin-top:75px;
	width:100%;
	float:right;
	margin-bottom:15px;
}

#news_create_form {
	width:100%;
	max-width: none;

}

#news_sidebar_item {
	background-color:#11A8AB;
 	text-align: center;
	margin-bottom:20px;
	min-height:40px;
	width: auto;
}
#news_sidebar_item p {
	padding-top:11px;
}

#news_sidebar_item a:link, 
#news_sidebar_item a:visited, 
#news_sidebar_item a:hover { 
 
 color: #FFF; 
 text-decoration: none; 

}

#world_pic {
	position: relative;
	text-align:center;
	max-width: 90%;
	resize: both;
} 

/* APP FORM */


.cc-selector input{
    position: relative;
    z-index: 0;
	display: block;
	margin: auto;
	padding: 5px;
}

.scope{
	background-image:url(http://zagreb.cromsic.hr/resources/img/scope_logo.png);
	padding: 0;
	width: auto;
	margin: auto;
	
}
.score{
	background-image:url(http://zagreb.cromsic.hr/resources/img/score_logo.png);
	padding: 0;
	width: auto;
	margin: auto;
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display: block;
    width: 160px;height: 132px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}


#appform {
	max-width:100%;
	overflow: hidden;
}

.square_left,
.square_middle,
.square_right {
	padding: 15px;
	

}

.square_left {
	float:none;
	width:auto;
	
}



.square_right {
	float:none;
	width:auto;
	
}

.square_middle {
	margin-top:20px;
	width:100%;
	overflow: hidden;
	border-style: solid;
    border-color: #11ABA8;
	border-width:thin;
	
	
}

#app_button {
	text-align: center;
	 
}


/* OVERWRITE */

.panel-default > .panel-heading {
  color: #11a8ab;
  background-color: #fff;
  border-color: #fff;
}

.panel-default {
  border-color: #fff;
}

.panel-default > .panel-heading {
 background-image:none;
 background-repeat:no-repeat;
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
}
